---
import '../styles/global.css';
import Header from '../components/header.astro';
import Hero from '../components/hero.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Papelería Katy</title>
	</head>
	<body class="min-h-screen bg-gray-50">
		
			<Header />
			<Hero />
		
		<main class="container mx-auto px-4 py-8">
			<slot />
		</main>
	</body>
</html>
